* {
  margin: 0;
  font-family: "Work Sans";
}

.header {
  background: #ffffff;
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.btn-primary {
  color: #005fac;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  padding: 21px 25px 20px 26px;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
}
.banner {
  display: flex;
  align-items: right;
  padding: 216px 230px 364px 850px;
  text-align: right;
}
.banner-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 65px;
}
.banner-description {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  margin: 24px 0px 32px;
}

.failure {
  display: flex;
  align-items: center;
  text-align: left;
  background: white;
  border-radius: 10px;
  padding: 0px 272px 0px 206px;
}
.failure-head {
  margin-left: 87px;
}
.section-title {
  text-align: left;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.section-description {
  color: #444343;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}
.check {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}

.section-plans-title {
  text-align: center;
  margin: 129.7px 556px 50px 556px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.plans-container {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 50px 169px 130px 170px;
}
.plans {
  background: #ffffff;
  border: none;
  padding: 20px;
}
.plans-title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 16px;
  text-align: center;
  color: #151414;
}
.plans-description {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #737272;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.call {
  background: #ffffff;
  border: none;
  margin: 0 230px 130px;
}
.call-container {
  padding: 0 617px 59px 64px;
}
.call-bg {
  background: #ffffff;
  background-image: url(../images/gradient1.png), url(../images/watch.png);
  background-repeat: no-repeat;
  background-size: auto, 1140px 300px;
}
.call-title {
  padding: 59px 617px 24px 64px;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}

.contact-footer {
  background-color: #151414;
  display: flex;
}
.contact {
  margin: 130px 191px 130px 230px;
}
.contact-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}
.contact-description {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.subscribe {
  margin: 130px 229px 243px 0;
}
.subscribe input[type="email"] {
  margin-bottom: 16px;
  background-color: #151414;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 15px;
  size: 325px 64px;
  padding: 21px 158px 22px 21px;
  font-weight: 400;
  font-size: 18px;
  color: #f3f3f3;
}
.subscribe-title {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 16px;
}
.subscribe-button {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  padding: 20px 36px;
  background: #005fac;
  border-radius: 5px;
  text-align: center;
}
